[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
python-decouple = "*"
psycopg2-binary = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
